<div class="page-header" >
  <h1 align="center">CREAR ARTISTAS</h1>
</div>
<form action="/Artista/crearArtista" method="post">

  <div class="form-group">
    <label>Nombre:</label>
    <input type="text" class="form-control" placeholder="Ingrese el nombre del artista" name="nombre">
  </div>

  <div class="form-group">
    <label>Estilo</label>
    <input type="text" class="form-control" placeholder="Ingrese el estilo"  name="estilo">
  </div>

  <div class="form-group">
    <label>Pais de Residencia</label>
    <input type="text" class="form-control" placeholder="Ingrese el pais de recidencia"  name="paisResidencia">
  </div>

  <button type="submit" class="btn btn-success">Crear Artista</button>
</form>
